@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");
/* font-family: 'Inter', sans-serif;
font-family: 'Work Sans', sans-serif; */
* {
  font-family: "Work Sans", sans-serif;
}
.header-text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}
